.header {
    background-color: #282828;
    padding: 10px 30px;
    width: 100px auto;
    color: white;
}

.title{
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}

.title h1 {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.title button {
    margin-left: auto; 
}
